{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["import", {
      "libraryName": "muse-ui",
      "libraryDirectory": "lib",
      "camel2DashComponentName": false
    }],

    ["@babel/plugin-syntax-dynamic-import"]
  ]
}