{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["import", {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    }],

    ["@babel/plugin-syntax-dynamic-import"],

    // ["transform-regenerator"],

    ["@babel/plugin-transform-runtime"]
  ]
}