.fl {
  display: flex;
}

.clearfix::after {
  display: block;
  width: 0;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '.';
}

.wrapper {
  padding: 0 .5em;
}

.second-title {
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  & span:nth-child(1) {
    font: 400 18px/50px 'Microsoft Yahei';
    color: #5b5c5e;
  }
  & span:nth-child(2) {
    color: #9c9ba3;
  }
}

.default {
  background: #f7f7f7;
}

.creamy-white {
  background: #f8f3dd;
}

.bean-green {
  background: #c2dfcd;
}

.light-pink {
  background: #f6dad9;
}

.dark {
  background: #262a2d;
}